# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.expand
*.vregs
*.into_cfglayout
*.jump
*.reginfo
*.outof_cfglayout
*.split1
*.dfinit
*.asmcons
*.ira
*.reload
*.split2
*.pro_and_epilogue
*.jump2
*.stack
*.alignments
*.mach
*.barriers
*.shorten
*.nothrow
*.dwarf2
*.final
*.dfinish

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

cmake-build-debug/
build/
.idea/
.vscode/
infer-out
log/
game/gameserver.db
